@import "components/bio.css";
@import "components/contact.css";
@import "components/hero.css";
@import "components/skills.css";
@import "components/projects.css";
@import "components/location.css";
@import "components/map.css";

body {
  margin: 0;
  background-color: #FBF5F3;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: lighter;
  font-size: 7vh;
  margin: 0;
}

h2 {
  font-size: 4.5vh;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {

}
