.bio {
  background-attachment: fixed;
  background-image: url('../../images/pawel-czerwinski-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.bio h1, .bio p, .bio h2 {
  color: #FBF5F3;
}

.bio h1, .bio h2 {
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.bio h2 {
  font-weight: lighter;
  margin: 0;
  text-align: center;
  writing-mode: vertical-rl;
}

.bio .bio-intro {
  padding: 10vh 0 3vh 8vh;
}

.avatar {
  height: 40vh;
  filter: grayscale(100%);
}

.bio-intro div {
  display: flex;
}

.bio-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bio-text {
  background-color: rgba(0, 0, 0, 0.58);
  margin-right: 6%;
  padding: 2%;
  width: 38%;
}

.biography {
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 1.8em;
}

.biography p {
  max-height: 100vh;
  overflow: scroll;
}

@media only screen and (max-width: 900px) and (orientation : landscape){
  .bio-info {
    align-items: flex-start;
  }

  .bio-text {
    margin-bottom: 4%;
    margin-right: 6%;
    width: 66%;
  }

  .bio {
    background-attachment: scroll;
    background-size: 100% 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 600px){
  .bio {
    background-attachment: scroll;
    background-position-x: right;
    height: 100%;
  }

  .bio-info {
    display: block;
  }

  .bio .bio-intro {
    padding-left: 2vh;
    padding-top: 2vh;
  }

  .bio-intro h1 {
    font-size: 4vh;
    margin-bottom: 4%;
  }

  .bio-text {
    margin-top: 0%;
    padding: 0%;
    width: 100%;
  }

  .bio-text p {
    padding: 7%;
  }
}


@media (hover: none) {
  .bio {
    background-attachment: scroll;
    background-position-x: right;
    height: 100%;
  }
}

