.bio {
  background-image: url('../../images/pawel-czerwinski-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.bio h1, .bio p, .bio h2 {
  color: #FBF5F3;
}

.bio h2 {
  font-weight: lighter;
  writing-mode: vertical-rl;
  margin: 0;
  text-align: center;
}

.bio .bio-intro {
  padding: 20vh 0 0 1vh;
}

.avatar {
  height: 30vh;
  filter: grayscale(100%);
}

.bio-intro div {
  display: flex;
}

.bio-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio-text {
  width: 35%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.58);
  padding: 2%;
}

.biography {
  line-height: 1.8em;
  font-weight: lighter;
}
