.contact {
  background-image: url('../../images/pawel-czerwinski-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.contact h1{
  color: white;
}

.contact a {
  font-size: 4em;
  padding-right: 2%;
  text-decoration: none;
  color: #FBF5F3;
}

.contact-msg {
  padding: 20vh 0vh 0vh 2vh;
}

.social-media {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
