.goto {
  position: absolute;
  bottom: 1%;
  left: 50%;
  text-align: center;
  transition: all 0.5s;
}

.goto h2 {
  margin: 0;
  font-size: 6vh;
}

.goto i {
  font-size: 8vh;
}

.goto:hover {
  opacity: 0.5;
}

.goto-left h2 {
  color: white;
}

.goto-left a {
  color: white;
}

.goto-left {
  left: 43%;
}

.goto-right {
  left: 51%;
}

.goto-right h2 {
  color: white;
}

.goto-right a {
  color: white;
}

.goto-contact {
  transform: rotate(45deg);
  left: 50%;
}

.goto-contact a {
  color: black;
}

.goto-contact h2 {
  color: black;
}


@media only screen and (max-width: 600px) {
  .goto {
    left: 43%;
  }

  .goto-left {
    display: none;
  }

  .goto-contact {
    display: none;
  }
}
