.hero {
  background-image: url('../../images/pawel-czerwinski.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  background-position-x: center;
}

.logo {
  height: 9vh;
}

.hero .logo {
  position: absolute;
  top: 4vh;
  left: 8vh;
}

.hero h1 {
  color: #FCFCFC;
  padding: 35vh 0 0 8vh;
}

.hero .arrows {
  position: absolute;
  height: 5vh;
  bottom: 5%;
  left: 7vh;
  transform: rotate(90deg);
}

@media only screen and (max-width: 850px) and (orientation : landscape) {
  .hero {
    background-size: 100% auto;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    background-attachment: scroll;
  }
  .hero h1 {
    padding-left: 1vh;
  }

  .hero .arrows {
    left: 0vh;
  }

  .hero .logo {
    left: 1vh;
  }
}

@media (hover: none) {
  .hero {
  background-attachment: scroll;
  }
}
