#map {
  width:53%;
  height: 85%;
}

.mapboxgl-map {
  font-family: 'Roboto' !important;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}

@media only screen and (max-width: 600px) {
  #map {
    width: 98%;
    height: 60%;
    margin: 1%;
  }
}
