.projects h1 {
  color: #7B1010;
}

.page-title {
  display: flex;
  align-items: center;
  padding: 2vh 0 0 8vh;
}

.page-title img {
  height: 5vh;
}

.projects-wrapper {
  perspective: 900px;
  margin: 4vh 0vh 16vh 8vh;
  display: flex;
}

.card {
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  width: 90%;
  height: 100%;
  animation: entry 1s linear 1;
  color: white;
}

#card-0 {
  background: linear-gradient(to bottom, #84cbda 45%, #0f627b2e 100%);
}

#card-1 {
  background: linear-gradient(to bottom, #315545 30%, #31554559 100%);
}

.card img {
  width: 100%
}

.card:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.card:hover {
  background-color: black;
}

.story h3 {
  text-align: center;
}

.card p {
  font-size: 14px;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.hover-msg {
  position: absolute;
  bottom: -25%;
  width: 100%;
}

.projects li {
  position: absolute;
  top: 0%;
  list-style: none;
  color: #111;
}

.projects li:nth-child(1) {
  left: 30%;
  animation: left-move 1s linear infinite;
}

.projects li:nth-child(2) {
  right: 30%;
  animation: right-move 1s linear infinite;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #111;
  letter-spacing: 2px;
  margin: 0;

  text-align: center;
}

@keyframes left-move {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes right-move {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

@media (hover: none) {
  .card {
    transform: none;
  }
  .hover-msg {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .card {
    transform: none;
  }
  .hover-msg {
    display: none;
  }

  h3 {
    margin: 0;
  }

  .card p {
    font-size: 12px;
  }
}


@media only screen and (max-width: 600px) {
  .card {
    transform: none;
    margin-bottom: 4vh;
  }

  .projects-wrapper {
    width: 80%;
    height: 48%;
    display: block;
    margin: 4vh 0vh 8vh 8vh;
  }

  #card-1 {
    left: 0;
    top: 110%;
  }

  .hover-msg {
    display: none;
  }

  .page-title {
    padding-left: 1vh;
  }
}
