.skills {
  height: 100vh;
  display: flex;
  position: relative;
  text-align: center;
}

.skills .text-skills, .bio .side-photo {
  flex: 0 0 50%;
}

.text-skills, .soft-skill-list ul {
  padding: 6vh 0vh 6vh 0vh;
}

.side-photo {
  width: 100%;
  background-image: url('../../images/sol-uyuni.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tech-skill-list, .soft-skill-list div {
  display: flex;
  justify-content: center;
}

.tech-skill-list ul, .soft-skill-list ul {
  padding: 0 8vh 0 8vh;
  line-height: 1.7em;
}


@media only screen and (max-width: 600px) {

  .tech-skill-list ul, .soft-skill-list ul {
    padding: 0 4vh 0 4vh;
  }

  .text-skills {
    padding: 6vh 2vh 0vh 2vh;
    background-color: #443C3C;
  }

  .skills .text-skills {
    flex: 0 0 100%;
  }

  .text-skills h1 {
    text-decoration: underline;
  }

  .side-photo {
    display: none;
  }

  .skills, .skills h1, .skills h2 {
    color: white;
  }

}
